/* COLOR NAME */
/* h1{
    color: tomato;
} */

/* HEX CODE */
/* h1{
    color: #373bb3;
} */

/* RGB */
/* h1{
    color: rgb(90, 165, 10);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: wheat;
    color: red;
} */

/* div{
    background-color: wheat;
    color:red;
} */

/* OPACITY */
/* #div1{
    background-color: green;
} */

img{
    opacity: 0.5;
}